.launch-details-card {
    width: 18rem;
    padding: 1rem;
    margin: 15px;
    height: calc(100% - 15px);
}

.launch-mission-image {
    width: 16rem;
    object-fit: cover;
    background-color: #F2F2F2;
}

.launch-mission-name-flight-number {
    color: #63659f;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 1rem;
}

.launch-detail-label {
    color: #181818;
    font-size: 18px;
    font-weight: 500;
}

.launch-detail-value {
    color: #63659f;
    font-weight: 400;
}