.launch-filter-card {
    max-width: 18rem;
    margin-bottom: 15px;
  }
  
  .launch-filter-header {
    color: #111111;
  }
  
  .launch-filter-heading {
    text-align: center !important;
    margin-top: 1rem;
    line-height: 3rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
  }
  
  .launch-filter-heading-launch-year {
    text-align: center !important;
    margin-top: -1rem;
  }
  
  .launch-filters-hr {
    margin: 0.4rem;
  }
  
  .launch-filter-button-container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .launch-filter-button {
    flex: 0 40%;
    margin: 10px;
    outline: none;
  }
  .launch-filter-button.btn-outline-success{
    color: black !important;
    border-color:  #c1eaca !important;;
    background-color: #c1eaca !important;
  }